<div id="header">
<div class="container">
  <header class="jumbotron">
    

<h2>About FLy.com</h2>
  <div class="card">
    <div class="card-header"></div>
    <div class="card-body">
        <div class="labelfont">
            Multiple domestic airlines connect to all the major
             cities in the country. These fly frequently and you 
             can choose from any of the domestic airlines according 
             to your suitable schedule. Some common airlines 
             include Air India Express, IndiGo, SpiceJet, AirAsia, 
             Air India, GoAir and Vistara. 
             You can conveniently book your tickets with 
             an available domestic airline using FLy.com within a few minutes.


             On the FLy.com website, once you have selected the type of trip - 
             round trip, your departure and arrival cities, 
             respective dates and class of travel - you will see a number 
             of domestic airlines options available for your chosen route.
              You can choose between direct and connecting flights. You can also check 
              flight details including baggage information during booking. 
              The best part is that you can see the lowest prices for airlines tickets in the beginning itself.
        </div>
    </div> 
    <div class="card-footer"></div>
  </div>
  </header>
</div>
</div>