<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h3>Search Results</h3>
        <div class="card">
            <div class="card-header"> User Search Results
               
            </div>
             <div class="card-body">
    
                <form  autocomplete="off">
                    <div class="row">
                       
                            <div class="form-group col-md-12">
                              
                                <table class=" labelfont table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Name Of the Flight</th>
                                            <th>Depart from</th>
                                            <th>Depart To</th>
                                            <th>Flight Number</th>
                                            <th></th>
                                            <th></th>
                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td><button class="btn btn-success">schedule details</button></td>
    
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                    </div>
                    <div class=row>
                   
                       
              <div class="col-md-4">
                <button  class=" btn btn-danger"  
                >Back to home</button>
              </div>
                
               </div>
                </form>
    
            </div>
        </div>
    </div>
    
    
    <router-outlet></router-outlet>
</body>
</html>